<!DOCTYPE html>
<html lang="ko">
    <!---->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../../public/images/icons8_robot_64.png">
        <title> WMSS-Login</title>

        <!--커스텀-->
        <link rel="stylesheet" href="../../public/common/bootstrap/login_bootstrap/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../public/common/bootstrap/login_bootstrap/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../public/common/bootstrap/login_bootstrap/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
        <link rel="stylesheet" href="../../public/common/bootstrap/login_bootstrap/vendor/animate/animate.css">
        <link rel="stylesheet" href="../../public/common/bootstrap/login_bootstrap/vendor/css-hamburgers/hamburgers.min.css">
        <link rel="stylesheet" href="../../public/common/bootstrap/login_bootstrap/vendor/animsition/css/animsition.min.css">
        <link rel="stylesheet" href="../../public/common/bootstrap/login_bootstrap/vendor/select2/select2.min.css">
        <link rel="stylesheet" href="../../public/common/bootstrap/login_bootstrap/vendor/daterangepicker/daterangepicker.css">
        <link rel="stylesheet" href="../../public/common/bootstrap/login_bootstrap/css/util.css">
        <link rel="stylesheet" href="../../public/common/bootstrap/login_bootstrap/css/main.css">

    </head>
    <!---->
    <body>
        <div class="limiter">
            <div class="container-login100" style="background-image:url('../img/clyton.jpg')">
                <div class="wrap-login100 p-t-30 p-b-50">
                    <span class="login100-form-title p-b-41">
                        WMSS 관리자 로그인
                    </span>

                    <form class="login100-form validate-form p-b-33 p-t-5" method="POST" action="/process/login">
                        <div class="wrap-input100 validate-input" date-validate="Enter username">
                            <input class="input100" type="text" name="id" placeholder="User ID *">
                            <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <input class="input100" type="password" name="password" placeholder="Password *">
                            <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                        </div>

                        <div class="container-login100-form-btn m-t-32">
                            <button class="login100-form-btn" type="submit" href="./menu.html" name="">
                                LOGIN
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="dropDownSelect1"></div>
        
        <!---->
        <!--템플릿 스크립트-->
        <script src="../../public/common/bootstrap/login_bootstrap/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script src="../../public/common/bootstrap/login_bootstrap/vendor/animsition/js/animsition.min.js"></script>
        <script src="../../public/common/bootstrap/login_bootstrap/vendor/bootstrap/js/popper.min.js"></script>
        <script src="../../public/common/bootstrap/login_bootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../public/common/bootstrap/login_bootstrap/vendor/select2/select2.min.css"></script>
        <script src="../../public/common/bootstrap/login_bootstrap/vendor/daterangepicker/moment.min.js"></script>
        <script src="../../public/common/bootstrap/login_bootstrap/vendor/daterangepicker/daterangepicker.js"></script>
        <script src="../../public/common/bootstrap/login_bootstrap/vendor/countdowntime/countdowntime.js"></script>
        <script src="../../public/common/bootstrap/login_bootstrap/js/main.js"></script>
    </body>
</html>