<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <link rel="icon" type="image/png" href="../../public/images/icons8_robot_64.png"/>
        <title>WMSS-Menu</title>

        <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">

        <!-- Bootstrap core CSS -->
        <link href="../../public/common/assets/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../public/common/css/Chart.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">

        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                }

            @media (min-width: 768px) {
                    .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                    }
                }
            #choosetheline{font-size: 50px; text-align: center; padding-top: 3rem; font-family: 맑은 고딕; text-emphasis-color: black;}
        </style>
    <link href="menu.css" rel="stylesheet">
    </head>
    
    
    <body>
        <header>
            <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
                <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">WMSS-Menu</a>
                    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                    </button>
                        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
                <ul class="navbar-nav px-3">
                    <li class="nav-item text-nowrap">
                        <a class="nav-link" href="./index.ejs">LOGOUT</a>
                    </li>
                </ul>
            </nav>
            <h1 id="choosetheline">라인 선택</h1>
        </header>
                
        
        <!--이미지랑 라인설명 넣기-->
        <script type="text/javascript">
            $(function(){
                if (navigator.userAgent.indexOf('iPhone')!=-1){
                    addEventListener("load",function(){
                        setTimeout(hideURLbar,0);
                    },false);};
            });
            
              
            
            
            $(window).load(function(){
                
                menuExpanded = false;
            
                $('.menu-inner').on('click', function(){
                    if( menuExpanded == false){
                        $(this).parent().addClass('expanded');
                        menuExpanded = true;
                    }else{
                        menuExpanded = false;
                        $(this).parent().removeClass('expanded');
                    }
                });
            });
            
            function hideURLbar(){
                window.scrollTo(0,1);
            };
            
            </script>
            
            <div id="menu" class="fl">
                <div class="menu-inner">
                    <ul class="m_ul">
                        <% if(userNm != ''){ %>
                            <li><a class="noLine" href="/main">Hello <%=userNm%>!</a></li>
                        <% }else{ %>
                            <li><a class="noLine" href="/login/login">Log In</a></li>	
                        <% } %>
                        <li><a class="noLine" href="/board/list" >공지사항</a></li>
                        
                        
                    </ul>
            
                    <% if(userNm != ''){ %>
                        <ul class="m_ul">
                            <li><a class="noLine logOut" href="/login/logOut">Log Out</a></li>	
                        </ul>
                    <% } %>
                </div>
            </div>

            
            <main role="main">
                <div class="container marketing">
                    <div class="row">
                    <div class="col-lg-4">
                        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">                 <title>Line1</title>
                            <rect width="100%" height="100%" fill="#777"/>
                            <text x="50%" y="50%" fill="#777" dy=".3em">140x140
                            </text>
                        </svg>
                    <h2>Line1</h2>
                    <p>짱좋은 부품</p>
                    <p><a class="btn btndiy" href="../Chart/LINE1.html" role="button">View details &raquo;</a></p>
                    </div>
                    
                        
                        
                    <div class="col-lg-4">
                        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Line2</title>
                            <rect width="100%" height="100%" fill="#777"/>
                            <text x="50%" y="50%" fill="#777" dy=".3em">140x140
                            </text>
                        </svg>
                    <h2>Line2</h2>
                    <p>짱좋은 부품</p>
                    <p><a class="btn btndiy" href="../Chart/LINE2.html" role="button">View details &raquo;</a></p>
                    </div>
                        
                        
                    <div class="col-lg-4">
                        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Line3</title>
                            <rect width="100%" height="100%" fill="#777"/>
                            <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                        </svg>
                        <h2>Line3</h2>
                        <p>짱좋은 부품</p>
                        <p><a class="btn btndiy" href="../Chart/LINE3.html" role="button">View details &raquo;</a></p>
                        </div>
                    </div>
                </div>
                
                
                <!--css에 marketing2 따로 만들어서 사용했음, 중앙에 두는법 찾아보기-->
                <div class="container marketing2">
                    <div class="row">
                    <div class="col-lg-4">
                        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">                 <title>Line4</title>
                            <rect width="100%" height="100%" fill="#777"/>
                            <text x="50%" y="50%" fill="#777" dy=".3em">140x140
                            </text>
                        </svg>
                    <h2>Line4</h2>
                    <p>짱좋은 부품</p>
                    <p><a class="btn btndiy" href="../Chart/LINE4.html" role="button">View details &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                    
                        
                        
                        <div class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Line4</title>
                        <rect width="100%" height="100%" fill="#777"/>
                        <text x="50%" y="50%" fill="#777" dy=".3em">140x140
                        </text>
                            </svg>
                    <h2>Line5</h2>
                    <p>짱좋은 부품</p>
                    <p><a class="btn btndiy" href="../Chart/LINE5.html" role="button">View details &raquo;</a></p>
                    </div>
                
                    </div>
                </div>


            </main>
        
            <!--스크립트 수정금지-->
            <script src="../../public/common/assets/dist/js/bootstrap.bundle.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script>window.jQuery || document.write('<script src="../../public/common/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    </body>
</html>
